<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>

    <div class="main-content">
     {{>header}}
    <p> {{notes}} </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia, pariatur magnam ad quod deleniti repellat inventore temporibus commodi ducimus earum, quasi odit beatae, necessitatibus repellendus cupiditate? Velit, incidunt delectus.
    Minus aliquam ullam laborum iste dicta maiores corporis quasi nobis repudiandae amet rerum ipsa, quis ab optio repellat dolore quas blanditiis sit asperiores porro nulla. Culpa neque quos quasi! Maiores?
    Nobis voluptate doloribus, quae doloremque, inventore dolorum tempora explicabo quas, sed temporibus nostrum quasi! Fugiat ducimus saepe porro optio sed. Quas repellendus nisi ad adipisci, nobis doloremque eveniet sed maiores!</p>
    <br>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia, pariatur magnam ad quod deleniti repellat inventore temporibus commodi ducimus earum, quasi odit beatae, necessitatibus repellendus cupiditate? Velit, incidunt delectus.
    Minus aliquam ullam laborum iste dicta maiores corporis quasi nobis repudiandae amet rerum ipsa, quis ab optio repellat dolore quas blanditiis sit asperiores porro nulla. Culpa neque quos quasi! Maiores?
    Nobis voluptate doloribus, quae doloremque, inventore dolorum tempora explicabo quas, sed temporibus nostrum quasi! Fugiat ducimus saepe porro optio sed. Quas repellendus nisi ad adipisci, nobis doloremque eveniet sed maiores!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia, pariatur magnam ad quod deleniti repellat inventore temporibus commodi ducimus earum, quasi odit beatae, necessitatibus repellendus cupiditate? Velit, incidunt delectus.
    Minus aliquam ullam laborum iste dicta maiores corporis quasi nobis repudiandae amet rerum ipsa, quis ab optio repellat dolore quas blanditiis sit asperiores porro nulla. Culpa neque quos quasi! Maiores?
    Nobis voluptate doloribus, quae doloremque, inventore dolorum tempora explicabo quas, sed temporibus nostrum quasi! Fugiat ducimus saepe porro optio sed. Quas repellendus nisi ad adipisci, nobis doloremque eveniet sed maiores!</p>
    
    </div>
     

{{>footer}}
</body>
</html>