<footer>


    <h1 class="foT">This is the footer</h1>
     <div class="footer-nav"> 
                     <a href="/">Home</a> 
                     <a href="/me">Me</a>
                    <a href="/about">About</a> 
                    <a href="/help">Help</a>
    
                   
</div>


</footer>
