<footer>

<div class= "footer">
    <h1>This is the footer</h1>
     <div class="nav"> 
                     <a href="/">Home</a> 
                     <a href="/me">Me</a>
                    <a href="/about">About</a> 
                    <a href="/help">Help</a>
                    
                   </div>
                   
</div>


</footer>
