 <nav class= "navigation"> 
                <ul>
                    <li> <a href="#">Home</a> </li>
                    <li> <a href="./about.html">About</a> </li>
                    <li><a href="./help.html">Help</a></li>
                </ul>
                  </nav>