
body, *{

    padding: 0 16px;
  color: #333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;

}
h1{

    font-size: 64px;
    margin-bottom: 16px;
    padding: 10px;
    text-align: center;
    color: lightcoral;
}
/*This is the navigation section */ 
header{
 text-align: center;
 margin-top: 16px;
 margin-bottom: 48px;
}
footer a, header a {
    text-decoration: none;
    color: #888; 
    margin-right: 16px;
}

/*This is the navigation section above */ 


/* This is the footer section  */
footer {
    position: absolute; 
    color: #888;
    border-top: 1px solid #eee;
    bottom: 0; 
    width: 100%;
    margin-top: 16px; 
    padding: 16px 0;

}

.footer-nav{
    text-align: center;
}

 
img{
    width: 200px;
    height: 200px;

}