*{
    margin: 0; 
    padding: 0;
    background-color: lightgoldenrodyellow;
}
h1{
    padding: 10px;
    text-align: center;
    color: lightcoral;
}

.main-body{
    height: 80vh; 
    color: gray;
    width: 100%;
}
.navigation {
    display: flex;

}
.navigation ul{
    align-content: center
}


ul  {
    list-style: none;
    text-decoration: none;
}
a {
   text-decoration: none;

ul li{
    list-style: none;
}


.footer {
    position: absolute; 
    bottom: 0; 
    background-color: lightgray;
    width: 100%;
    height: 100px;

}
