*{
    margin: 0; 
    padding: 0;
    background-color: lightgoldenrodyellow;
}
h1{
    padding: 10px;
    text-align: center;
    color: lightcoral;
}
/*This is the navigation section */ 
.main-body{
    height: 80vh; 
    color: gray;
    width: 100%;
}


a {
   text-decoration: none;
   color: red;


}
/*This is the navigation section above */ 


/* This is the footer section  */
footer {
    position: absolute; 
    background-color: lightgray;;
    bottom: 0; 
    width: 100%;
    height: 10vh;

}

.footer,.footer-nav, .foT, .footer-nav a {
    background-color: lightgray;
}
